.diagram-container {
  width: 100%;
  height: 100%;

  .djs-context-pad {
    padding: 5px;

    &.open {
      @apply shadow-xl border-blue-50 border-solid border;
      background-color: #364153;
      width: 100px;
    }
    .group {
      padding: 5px;
      .entry {
        padding: 5px;
        background-color: unset;
        box-shadow: unset;
      }
    }
  }

  .djs-popup {
    background-color: #364153;
  }

  .djs-direct-editing-parent {
    color: black;
  }

  .djs-palette {
    @apply shadow-xl left-0 top-0;
    margin-left: -55px;
    background:unset;
    * {
      color: var(--p-surface-300);
    }
  }

  .djs-parent {
    overflow: visible !important;
    margin-left: 55px !important;
    margin-top: 25px !important;
  }

  svg {
    &:focus-visible {
      border: none;
      outline: none;
    }
  }

}

.bjs-powered-by {
  display: none;
}
