<p-autoComplete
    #input
    class="attribute-control focusable"
    styleClass="max-w-120 min-w-72 w-full"
    [id]="attributeId()"
    [ngModel]="selection()"
    [suggestions]="filteredValues()"
    (completeMethod)="filterValues($event)"
    (onSelect)="onInputChange($event)"
    (onFocus)="onFocus()"
    [forceSelection]="true"
    [dropdown]="true"
    [ngModelOptions]="{ updateOn: 'blur' }"
    [optionLabel]="getOptionLabel"
    (onBlur)="commitInputChange()"
    [inputId]="attributeId()"
/>