<div class="p-4" xmlns="http://www.w3.org/1999/html">
    <h2 class="mb-4">Approval</h2>

    <div #tableContainer class="table-container text-lg" (mouseenter)="mouseInside$.set(true)" (mouseleave)="mouseInside$.set(false)">
        <p-table [value]="employeeApprovalStates$()" [loading]="loading$()" [paginator]="false" [rows]="10"
                 [showGridlines]="true"
                 [responsiveLayout]="'scroll'" [scrollable]="true" [scrollHeight]="scrollHeight$()">

            <ng-template pTemplate="caption">
                <div class="flex flex-row items-center justify-between w-full gap-x-5">
                    <!-- Left Section -->
                    <div class="flex-1 flex flex-row items-center">
                        <div class="flex flex-row justify-center items-center flex-grow">
                            <label for="showWeekend" class="mx-2">Show weekend</label>
                            <p-checkbox [ngModel]="showWeekends$()" (onChange)="showWeekends$.set($event.checked)"
                                        [binary]="true" id="showWeekend" inputId="showWeekend"/>
                        </div>
                    </div>

                    <!-- Center Section (Month Selection) -->
                    <div class="flex flex-1 justify-center items-center gap-x-3">
                        <button pButton pRipple type="button" class="p-button-rounded p-button-icon-only" (click)="onPrevMonth()">
                            <i class="p-button-icon pi pi-chevron-left"></i>
                        </button>
                        <p-date-picker *ngIf="selectedMonth$()" inputId="selectedMonth"
                                       [ngModel]="selectedMonth$()" (onSelect)="selectedMonth$.set($event)"
                                       [view]="pickerMode$()" dateFormat="MM yy"
                                       [showIcon]="true" [readonlyInput]="true"></p-date-picker>
                        <button pButton pRipple type="button" class="p-button-rounded p-button-icon-only" (click)="onNextMonth()">
                            <i class="p-button-icon pi pi-chevron-right"></i>
                        </button>
                    </div>

                    <!-- Right Section (Empty for future content) -->
                    <div class="flex-1 flex justify-end gap-x-5">
                        <p-selectButton [options]="timeRangeOptions" [ngModel]="timeRangeOption$()"
                                        (ngModelChange)="onSetTimeRangeOption($event)"
                                        optionLabel="justify">
                            <ng-template #item let-item>
                                <i class="material-icons md" [pTooltip]="item.title" tooltipPosition="left">{{item.icon}}</i>
                            </ng-template>
                        </p-selectButton>
                        <p-selectButton [options]="modeOptions" [ngModel]="modeOption$()"
                                        (ngModelChange)="onSetModeOption($event)"
                                        optionLabel="justify">
                            <ng-template #item let-item>
                                <i class="material-icons md" [pTooltip]="item.title" tooltipPosition="left">{{item.icon}}</i>
                            </ng-template>
                        </p-selectButton>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="header-sticky header-employee">Employee</th>
                    @for (day of approvalDays$(); track day.date) {
                        <th *ngIf="!day.weekend || day.weekend === showWeekends$()" class="header-day">
                            <div class="flex flex-col">
                                <span class="text-center" [ngClass]="{'text-red-500': day.weekend}">
                                    {{ day.shortDayOfWeek }}
                                </span>
                                <span class="text-center" [ngClass]="{'text-red-500': day.weekend}">
                                    {{ day.dayOfMonth.toString().padStart(2, '0') }}
                                </span>
                            </div>
                        </th>
                    }
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employeeState>
                <tr>
                    <td class="column-sticky">
                        <div class="employee-container flex flex-row">
                            <div class="employee-detail flex flex-col flex-grow">
                                <span class="name w-full">{{ employeeState.employee.name }}</span>
                                <span class="summary w-full">{{ formatEmployeeSummary(employeeState) }}</span>
                                <span class="status w-full">
                                    @if(employeeState.approvalStatus === ApprovalStatus.OPEN) {
                                        <span class="dark:text-orange-300 text-orange-500">Open</span>
                                    } @else if(employeeState.approvalStatus === ApprovalStatus.COMPLETED) {
                                        <span class="dark:text-green-300 text-green-600">Completed</span>
                                    } @else if(employeeState.approvalStatus === ApprovalStatus.APPROVED) {
                                        <span class="dark:text-blue-300 text-blue-600">Approved</span>
                                    }
                                </span>
                            </div>
                            <div class="employee-actions">
                                <a href="#" (click)="onApproveRecordsInRange($event, employeeState)">approve</a>
                            </div>
                        </div>
                    </td>
                    @for (dailyState of employeeState.dailyRecords; track dailyState.day.date) {
                        <td *ngIf="!dailyState.day.weekend || dailyState.day.weekend === showWeekends$()" class="column-day relative h-full">
                            <app-daily-record-cell [employee]="employeeState.employee" [state]="dailyState"></app-daily-record-cell>
                        </td>
                    }
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
