table {
  @apply relative;
}

th, td {
  white-space: nowrap;
  width: auto;
}

th {
  @apply select-none;
}

tr {
  @apply select-none;
  &.detail-row, &.action-row, &.header-row {
    td {
      @apply text-gray-200;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
    }

    td:first-of-type, th:first-of-type {
      @apply overflow-hidden text-ellipsis px-4 sticky left-0 bg-inherit text-right text-base;
      @apply min-w-60 max-w-60;
      background: var(--p-datatable-header-background);
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
    }

    td:last-of-type, th:last-of-type {
      @apply overflow-hidden text-ellipsis px-4 sticky right-0 bg-inherit text-right text-base;
      @apply min-w-28 max-w-28;
      background: var(--p-datatable-header-background);
      box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
    }

    td:first-of-type, td:last-of-type {
      z-index: 1;
    }

    th:first-of-type, th:last-of-type {
      z-index: 2;
    }
  }

  &.detail-row {
    &:hover {
      filter: brightness(1.1);
    }

    td {
      @apply py-0.5 px-2;
      &.project {
        @apply text-gray-400;
      }

      &.time {
        &.value {
          @apply text-right text-gray-400;
          &.sum {
            @apply text-color;
          }

          &.warning {
            @apply text-orange-300;
          }

          &.success {
            @apply text-green-300;
          }

          &.less {
            @apply text-red-300;
          }

          &.more {
            @apply text-green-300;
          }
        }
      }
    }
  }

  &.summary-row {
    td {
      @apply select-none ml-4 left-0 sticky h-10 py-3 overflow-visible min-w-60 max-w-60;
      border-right: none;

      .line {
        @apply px-3 text-nowrap flex items-center text-lg;
        width: 60rem;

        .avatar {
          @apply w-10 h-10 flex items-center justify-center rounded-full font-normal text-lg;
          color: var(--p-button-primary-color);
          background: var(--p-button-primary-background);
        }
      }
    }
  }

  &.action-row {
    td {
      padding: 0 !important;

      &.actions {
        @apply justify-center items-center cursor-pointer select-none bg-opacity-0;
        background-color: inherit;

        .action {
          @apply text-center text-lg p-0.5 w-full opacity-40 transition-opacity hover:opacity-95;
          filter: brightness(0.8);
          background: var(--p-datatable-header-background);

          & > * {
            @apply w-full;
          }
        }
      }
    }
  }
}


/* Adjust header appearance */
.header-day {
  text-align: center;
  min-width: 75px;
}

.header-employee {
  text-align: center;
  max-width: 225px;
}
