.header {
  //box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--border-color);
  //margin-bottom: 4px;
}
.footer {
  height:20px;
  border-top: 1px solid var(--border-color);
}
