<div class="status-container">
    <div tabindex="0" class="status"
         [ngClass]="{'open': open(), 'completed': completed(), 'approved': approved()}"
         [pTooltip]="open() ? 'open' : completed() ? 'completed' : approved() ? 'approved' : ''"
         tooltipPosition="right" (click)="onClick()" (keydown)="onKeyDown($event)"></div>
    <div *ngIf="holiday()" class="absence">
        <span class="material-icons" pTooltip="Vacation" tooltipPosition="left">beach_access</span>
    </div>
    <div *ngIf="sick()" class="absence">
        <span class="material-icons" pTooltip="Sick Leave" tooltipPosition="left">stethoscope</span>
    </div>
</div>