<h2 class="mb-4">Timesheet Tracking {{ selectedDay$()?.date | date }}</h2>
<div class="page">
    <div class="tracking">
        <div class="header">
            <div class="week w-full">
                <p-table [value]="dailyRecords()" [responsiveLayout]="'scroll'" [scrollable]="true" showGridlines="true"
                         class="w-full">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-row items-center justify-between w-full gap-x-5">
                            <!-- Left Section -->
                            <div class="flex-1 flex flex-row items-center">
                            </div>

                            <!-- Center Section (Month Selection) -->
                            <div class="flex flex-1 justify-center items-center gap-x-3">
                                <div class="min-w-12">
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-icon-only"
                                            (click)="onPrevMonth()">
                                        <i class="p-button-icon pi pi-chevron-left"></i>
                                    </button>
                                </div>
                                <p-date-picker *ngIf="selectedMonth$()" inputId="selectedMonth"
                                               [ngModel]="selectedMonth$()" (onSelect)="selectedMonth$.set($event)"
                                               [view]="pickerMode$()" dateFormat="MM yy"
                                               [showIcon]="true" [readonlyInput]="true"></p-date-picker>
                                <div class="min-w-12">
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-icon-only"
                                            (click)="onNextMonth()">
                                        <i class="p-button-icon pi pi-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- Right Section (Empty for future content) -->
                            <div class="flex-1 flex justify-end gap-x-5 items-center">
                                <p-togglebutton [ngModel]="showWeekends$()"
                                                (click)="showWeekends$.set(!showWeekends$())"
                                                styleClass="icon-button">
                                    <ng-template #icon>
                                        <i class="material-icons md" pTooltip="Show full week" tooltipPosition="left">calendar_view_week</i>
                                    </ng-template>
                                </p-togglebutton>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="header-row">
                            <th class="min-w-12 max-w-12 w-12">
                                <div class="flex flex-col items-center justify-center">
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-icon-only">
                                        <i class="p-button-icon pi pi-chevron-left"></i>
                                    </button>
                                </div>
                            </th>
                            @for (day of days$(); track day.date) {
                                @if (!day.weekend || showWeekends$()) {
                                    <th class="min-w-32 cursor-pointer relative" (click)="onDaySelected(day)"
                                        (keydown)="onKeyDown($event, day)"
                                        [class.selected]="selectedDay$()?.date === day.date"
                                        [class.weekend]="day.weekend">
                                        <div class="day">
                                            <div class="title text-center">
                                                {{ day.shortDayOfWeek }}.&nbsp;&nbsp;{{ day.dayOfMonth }}.
                                            </div>
                                            <div class="worked text-center text-base font-normal text-nowrap">{{ formatTimeInMinutes(400) }}
                                                / {{ formatTimeInMinutes(62) }}
                                            </div>
                                        </div>
                                        <div class="status">
                                            <app-daily-record-status></app-daily-record-status>
                                        </div>
                                    </th>
                                }
                            }
                            <th class="min-w-12 max-w-12 w-12">
                                <div class="flex flex-col items-center justify-center">
                                    <button pButton pRipple type="button" class="p-button-rounded p-button-icon-only">
                                        <i class="p-button-icon pi pi-chevron-right"></i>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body">
                        <tr class="action-row">
                            <td></td>
                            @for (day of days$(); track day.date) {
                                @if (!day.weekend || showWeekends$()) {
                                    <td class="actions">
                                        <app-daily-record-action></app-daily-record-action>
                                    </td>
                                }
                            }
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        @if (selectedDay$()) {
            <div class="content">
                <p-card>
                    <div class="grid grid-cols-12 gap-x-6 gap-y-6">
                        <div class="flex flex-col gap-5 mt-5 col-span-6">
                            <div class="grid grid-cols-12 gap-x-6 gap-y-6">
                                <div class="field col-span-12">
                                    <label [htmlFor]="'kind'">Kind</label>
                                    <p-select id="kind" inputId="kind" [options]="workEntryKinds$()" showClear="true">
                                    </p-select>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-x-6 gap-y-6">
                                <div class="field col-span-6">
                                    <label [htmlFor]="'from'">From</label>
                                    <p-inputMask styleClass="w-full" inputId="from" mask="99:99"
                                                 placeholder="HH:mm"></p-inputMask>
                                </div>
                                <div class="field col-span-6">
                                    <label [htmlFor]="'to'">To</label>
                                    <p-inputMask styleClass="w-full" inputId="to" mask="99:99"
                                                 placeholder="HH:mm"></p-inputMask>
                                </div>
                            </div>
                            <div class="field-group-v">
                                <div class="field">
                                    <label for="project">Project</label>
                                    <input id="project" pInputText/>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-5 mt-5 col-span-6">
                            <div class="field-group-v h-full">
                                <div class="field h-full">
                                    <label for="comment">Comment</label>
                                    <textarea id="comment" pTextarea rows="5" class="h-full"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
                <p-card header="Tasks" styleClass="dark:bg-gray-600 dark:text-primary-100">
                    <p-table styleClass="table-light" [value]="openDays$()"
                             [responsiveLayout]="'scroll'" [scrollable]="true" scrollHeight="200px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="project min-w-64 max-w-64">Project</th>
                                <th class="comment w-full">Comment</th>
                                <th class="time min-w-16 max-w-16">Time</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-day>
                            <tr class="status-row">
                                <td class="project">S2 - Clocking</td>
                                <td class="comment">Implement time tracking UI</td>
                                <td class="time">03:30</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </div>
        }
    </div>
    <div class="infos">
        <p-card header="Recent time bookings" styleClass="dark:bg-gray-600 dark:text-primary-100">
            <p-table styleClass="recent-time-bookings table-light" [value]="openDays$()"
                     [responsiveLayout]="'scroll'" [scrollable]="true" scrollHeight="250px">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="kind max-w-12">Kind</th>
                        <th class="project max-w-12">Project</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-day>
                    <tr class="project-row">
                        <td class="kind">Office</td>
                        <td class="project">S2 - Clocking</td>
                    </tr>
                    <tr class="task-row">
                        <td></td>
                        <td>
                            Implement advanced clocking Ui
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
        <p-card header="Open days" styleClass="dark:bg-gray-600 dark:text-primary-100">
            <p-table styleClass="open-days table-light" [value]="openDays$()"
                     [responsiveLayout]="'scroll'" [scrollable]="true" scrollHeight="250px">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="day max-w-12">Day</th>
                        <th class="time max-w-12">Hours</th>
                        <th class="status"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-day>
                    <tr class="status-row">
                        <td class="day">{{ day.date | date }}</td>
                        <td class="time">07:20 / 07:42</td>
                        <td class="status">
                            <app-daily-record-status [record]="day"></app-daily-record-status>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
        <p-card header="Time Balance per {{currentDate$() | date}}" styleClass="bg-teal-600 text-white">
            <div echarts [options]="chartOptions" class="chart-container"></div>
        </p-card>
    </div>
</div>


