<h2 class="mb-4">Timesheet Tracking {{ selectedDay$().date | date }}</h2>
<div class="page">
    <div class="tracking">
        <div class="header">
            <div class="week w-full">
                <app-time-recording-navigation></app-time-recording-navigation>
            </div>
        </div>
        @if (selectedDay$()) {
            <div class="content">
                <app-time-recording></app-time-recording>
                <app-daily-time-records></app-daily-time-records>
            </div>
        }
    </div>
    <div class="infos">
        <app-recent-time-records></app-recent-time-records>
        <app-open-days></app-open-days>
    </div>
</div>


