@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 200;
  src: url('assets/layout/fonts/material-sharp.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 28px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 28;

  &.md {
    font-size: 20px;
  }
}