@if (depth() === 0) {
  <div class="block-wrapper">
    <p-panel [header]="name()">
      <ng-container *ngTemplateOutlet="renderBlock; context: { $implicit: depth() }"></ng-container>
    </p-panel>
  </div>
} @else {
  <div class="block-wrapper nested">
    <div class="attribute-label">
      <h5>{{ name() }}</h5>
    </div>
    <ng-container *ngTemplateOutlet="renderBlock; context: { $implicit: depth() }"></ng-container>
  </div>
}

<ng-template #renderBlock let-depth>
  @for (block of instances(); track block.uuid) {
    <app-block-instance [block]="block" [depth]="depth"></app-block-instance>
  }
</ng-template>