@if (depth() === 0) {
  <div class="block-wrapper">
    <p-panel [header]="name()">
      <ng-container *ngTemplateOutlet="renderBlock; context: { $implicit: depth() }"></ng-container>
    </p-panel>
  </div>
} @else {
  <div class="block-wrapper nested">
    <div class="attribute-label">
      <h5>{{ name() }}</h5>
    </div>
    <ng-container *ngTemplateOutlet="renderBlock; context: { $implicit: depth() }"></ng-container>
  </div>
}

<ng-template #renderBlock let-depth>
  @for (block of instances(); let i = $index; track block.uuid) {
    <div class="block-instance" [ngClass]="{ 'nested-instance': depth > 0 }">
      <app-block-instance [block]="block" [depth]="depth"></app-block-instance>
    </div>
    @if (i < instances().length - 1) {
      <div class="block-separator"></div>
    }
  }
</ng-template>