/* PrimeNG ICONS */
@forward "primeicons/primeicons.css";
/* CUSTOM SCSS STYLINGS */
@use "assets/layout/typography";
@use "assets/layout/animations";
@use "assets/layout/responsive";
@use "assets/layout/misc";
@use "assets/layout/preloading.css";
@use "assets/layout/icons";

/* Quill Text Editor for p-editor */
@forward '../node_modules/quill/dist/quill.core.css';
@forward '../node_modules/quill/dist/quill.snow.css';

/* BPMN */
@import '../node_modules/bpmn-js/dist/assets/diagram-js.css';
@import '../node_modules/bpmn-js/dist/assets/bpmn-font/css/bpmn.css';
@import '../node_modules/bpmn-js/dist/assets/bpmn-js.css';

/* Demos */
//@forward 'assets/demo/styles/flags/flags.css';
//@forward 'assets/demo/styles/badges.scss';
//@forward 'assets/demo/styles/code.scss';

/* TailwindCSS */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng;

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --p-preset: custom-theme;
}

.field {
    @apply flex flex-col gap-1;
    &.field-sm {
      @apply max-w-24;
    }
    label {
        @apply font-medium text-sm block ml-2 cursor-pointer;
    }
}

.field-group-h {
    @apply w-full flex;
}

.field-group-v {
  @apply w-full flex flex-col grow;
}

.table-light {
  @apply bg-inherit;
  .p-datatable-table-container {
    @apply bg-inherit;
    table {
      @apply bg-inherit;
      thead {
        @apply bg-inherit;
      }
      tr, th, td {
        @apply bg-transparent px-0;
        border-color: theme('colors.gray.400');
        border-bottom-style: dashed;
        border-bottom-width: 0.5px;
      }

      th, td {
        &:last-of-type {
          @apply pr-3;
        }
      }
    }
  }
}

.p-card-body {
  @apply bg-inherit rounded-lg;
  .p-card-content {
    @apply bg-inherit;
  }
}

p-table {
  @apply bg-inherit;
}

th {
  &.selected {
    box-shadow: inset 0 -2px 0 theme('colors.primary');
    filter: brightness(1.2);
  }
}


.p-inputtext, .p-inputwrapper {
  height: 2.75rem;;
}

.p-select-label {
  @apply self-center;
}