<div class="max-w-4xl mx-auto rounded-xl bg-surface-300 shadow-xl">
    <p-panel header="Todo Details">
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()"
              class="grid grid-cols-12 md:grid-cols-6 gap-x-6 gap-y-6">
            <div class="field">
                <label for="title">Title</label>
                <p-skeleton [id]="'title'" *ngIf="loading$()" styleClass="mt-2 w-full block" height="2.3rem"/>
                <input *ngIf="!loading$()" id="title" type="text" formControlName="title" pInputText class="w-full"/>
            </div>

            <div class="field">
                <label for="description">Description</label>
                <p-skeleton [id]="'description'" *ngIf="loading$()" styleClass="mt-2 w-full block" height="2.3rem"/>
                <input *ngIf="!loading$()" id="description" type="text" formControlName="description" pInputText/>
            </div>

            <div class="field flex space-x-2">
                <p-checkbox *ngIf="!loading$()" inputId="completed" formControlName="completed" binary="true"></p-checkbox>
                <p-skeleton [id]="'completed'" *ngIf="loading$()" styleClass="mt-2 w-full block" height="2.3rem"/>
                <label [for]="'completed'">Completed</label>
            </div>

            <div class="flex col-span-12 md:col-span-6 justify-end space-x-4">
                <button pButton type="submit" class="p-button-primary">Save</button>
                <button pButton type="button" class="p-button-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </p-panel>
</div>
